@import "bower_components/cells-sass/main";

:host {
  display: block;
  background-color: var(--bbva-navy);
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-menu;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.logo{
  width: 7rem;
  vertical-align: middle;
  @apply --cells-bfm-menu-logo;
}
.menu-container{
  min-height: 5.5rem;
  background-color: var(--bbva-navy);
  @apply --cells-bfm-menu-container;
}
.link-item {
  font-weight: 500;
  font-size: 15px;
  height: 5.5rem;
  line-height: 5.5rem;
  padding: 0 0 0 1.5rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  color: var(--cells-bfm-menu-link-item-color, #fff);
  @apply --cells-bfm-menu-link-item;
}
.link-item.active::after{
  content: ' ';
  width: 100%;
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  border-bottom: 4px solid var(--cells-bfm-menu-link-active-selector-color, #fff);
  @apply --cells-bfm-menu-link-item-active-after;
}
.btn-icon{
  font-size: 1.2rem;
  display: inline-flex;
  margin-right: 0.5rem;
  @apply --cells-bfm-menu-btn-icon;
}
.session-container{
  display: inline-block;
  color: var(--bbva-yellow, #f8cd51);
  font-weight: 500;
  cursor: pointer;
  margin-left: 3rem;
  height: 5.5rem;
  line-height: 5.5rem;
  @apply --cells-bfm-menu-session-container;
}
.extra-menu{
  float: right;
  height: 5.5rem;
  display: flex;
  align-items: center;
  @apply --cells-bfm-menu-extra;
}
.menu-section{
  height: 5.5rem;
  display: inline-block;

  @apply --cells-bfm-menu-section;
}
.session-section{
  float: right;
  height: 5.5rem;
  display: flex;
  align-items: center;
  @apply --cells-bfm-menu-session-section;
}
.sub-menu-container{
  background-color: var(--cells-bfm-menu-sub-menu-bg-container, #ffffff);
  position: absolute;
  margin-top: -1rem;
  list-style: none;
  padding: 1.5rem 1rem 0.5rem 1rem;
  color: var(--cells-bfm-menu-sub-menu-color-container, #1973B8);
  font-weight: 450;
  box-shadow: 0 1px 4px #BDBDBD;
  border-radius: 1px;
  border: 1px solid #fff;
  display: block;
  @apply --cells-bfm-menu-sub-menu-container;
}
.sub-menu-item{
  padding-bottom: 1rem;
  @apply --cells-bfm-menu-sub-menu-item;
}
.extra-menu-item{
  position: relative;
  @apply --cells-bfm-menu-extra-menu-item;
}