<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-bfm-menu-styles.html">
<dom-module id="cells-bfm-menu">
  <template>
    <style include="cells-bfm-menu-styles cells-grid-template-styles"></style>
    <div class="cgt">
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
        <nav class="menu-container">
          <div class="menu-section">
            <img class="logo" on-click='_logoClick' src="[[logo.src]]" alt="[[logo.alt]]">
            <template is='dom-repeat' items='[[menu]]'>
              <label class$="link-item [[_getClass(item.text, active)]]" on-click="_handleClick"
                for="">[[item.text]]</label>
            </template>
          </div>
          <div class="session-section">
          <div class="extra-menu">
            <template is='dom-repeat' items='[[menuExtra]]' as="extra">
              <div clas="extra-menu-item">
                <label  class="link-item" on-click="_handleExtraMenu" for="">
                  <cells-atom-icon class="btn-icon" icon="[[extra.icon]]"></cells-atom-icon>[[extra.text]]
                </label>
                <template is='dom-if' if="[[extra.items.length]]">
                <template is='dom-if' if="[[extra.showExtra]]">
                    <ul class="sub-menu-container">
                      <template is='dom-repeat' items='[[extra.items]]' as="extraItem">
                        <li class="sub-menu-item">
                          <cells-atom-icon class="btn-icon" icon="[[extraItem.icon]]"></cells-atom-icon>
                          <label on-click="_handleClick" for="">[[extraItem.text]]</label>
                        </li>
                      </template>
                    </ul>
                </template>
                </template>
              </div>
            </template>
          </div>
          <div class="extra-menu">
            <label for="">[[session.name]]</label>
            <div class="session-container" on-click="_sessionEvent">
              <label for="">[[session.textLink]]
                <cells-atom-icon class="btn-icon" icon="[[session.icon]]"></cells-atom-icon>
              </label>

            </div>
          </div>
        </div>
        </nav>
      </div>
    </div>
  </template>
  <script src="cells-bfm-menu.js"></script>
</dom-module>